/* fonts are always imported first */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Share+Tech+Mono&family=Silkscreen&display=swap');


/* styles for pseudo-elements (UNICODE-icons) */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0%;
  padding: 0%;
}

html {
  box-sizing: border-box;
  font-size: min(max(1rem, 4vw), 20px);
  height: 100%;
}

/* works for the whole website */
body {
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.6;
  color: #bcbcbc;
  text-align: left;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* sticks footer to the bottom! */
main {
  flex-grow: 1;
}



.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 1em;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
  }
}

/* works for ALL headers */
h2,
h3,
h4,
h5,
h6 {
  margin: 1.2rem 0 1.2rem 0;
  color: limegreen;
  font-weight: 800;
  line-height: 1.2;
  font-family: 'Share Tech Mono', monospace;
}

h1 {
  font-size: 120%;
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

#logoTitle {
  font-size: 100px;
  font-weight: 600;
  color: #e68e0a;
  display: inline-block;
  font-family: 'Silkscreen', monospace;
}

/* basic styles for all lists */
ol,
ul {
  padding-left: 2rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

/* link styles */
a {
  color: blue;
  text-decoration: underline;
}

a:hover {
  color: turquoise;
}

a:not([href]):not([class]),
a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

/* images styling */
figure {
  margin: 0 0 1rem;
}

figure img {
  max-width: 100%;
  width: 400px;
  height: auto;
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#button {
  padding: 1rem;
  text-transform: none;
  text-decoration: none;
  max-width: 300px;
  font-size: 150%;
  background-color: black;
  border-radius: 10%;
  color: #fff;
}

textarea {
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

.langimg {
  text-align: center;
}

.copyright {
  font-size: 80%;
  opacity: 0.7;
  text-align: center;
  max-width: 50ch;
  margin: 0 auto;
}

.settings {
  text-align: right;
}

.settings a {
  text-decoration: none;
  padding: 0.3em;
}

#testing {
  text-align: center;
}

hgroup {
  text-align: center;
  padding: 3em;
  padding-bottom: 1em;
}

#pagelinks {
  text-align: center;
}

#pagelinks a {
  color: #bcbcbc;
}

/* IMPORTANT: THIS IS FOR THE LANGUAGE SWITCHES */
.content-tab {
  display: none;
}

.content-tab.active {
  display: block;
}

.settings a:last-child {
  margin-left: 2em;
}

/* STYLES OF DARK SIDE */

body {
  background: white;
  color: black;
}

body.dark-mode {
  background: #121212;
  color: #e0e0e0;
}

body.dark-mode a {
  color: #80cbc4;
}

body.dark-mode header,
body.dark-mode footer {
  background-color: #1e1e1e;
}

.quellen ul {
  text-align: center;
  list-style-type: none;
}

.pagecontent {
  padding: 7%;
}