/* fonts are always imported first */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Share+Tech+Mono&family=Silkscreen&display=swap');

html,
body {
  height: 100%;
  margin: 0%;
  padding: 0%;
}

html {
  box-sizing: border-box;
  font-size: min(max(1rem, 4vw), 20px);
  height: 100%;
}

/* works for the whole website */
body {
  font-family: 'IBM Plex Mono', monospace;
  line-height: 1.6;
  text-align: left;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* sticks footer to the bottom! */
main {
  flex-grow: 1;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2em;
  grid-row-gap: 1em;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(0%, 1fr));
  }
}

/* works for ALL headers */
h2,
h3,
h4,
h5,
h6 {
  margin: 1.2rem 0 1.2rem 0;
  color: limegreen;
  font-weight: 800;
  line-height: 1.2;
  font-family: 'Share Tech Mono', monospace;
}

h1 {
  font-size: 120%;
}

h2 {
  font-size: calc(1.325rem + 0.9vw);
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}

h4 {
  font-size: calc(1.275rem + 0.3vw);
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

#logoTitle {
  font-size: clamp(2rem, 10vw, 5rem);
  font-weight: 600;
  color: #ffe600;
  display: inline-block;
  font-family: 'Silkscreen', monospace;
  word-break: break-word;
  text-align: center;
}

/* link styles */
a {
  color: blue;
  text-decoration: underline;
}

a:hover {
  color: turquoise;
}

/* images styling */
figure {
  margin: 0 0 1rem;
}

figure img {
  max-width: 100%;
  width: 400px;
  height: auto;
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
}

input,
button,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#button {
  background: #ffc400;
  border-bottom: 10px inset rgba(0, 0, 0, .5);
  border-left: 7px inset rgba(0, 0, 0, .5);
  border-right: 7px inset rgba(255, 255, 255, .5);
  border-top: 7px inset rgba(255, 255, 255, .5);
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  display: inline-block;
  font-family: 'Silkscreen', monospace;
  margin-top: 7%;
  min-width: 200px;
  padding: .5rem;
  text-transform: uppercase;
  width: auto;

  &:focus,
  &:hover,
  &:active {
    background: #ffae00;
  }
}

.langimg {
  text-align: center;
}

.settings {
  text-align: right;
  margin: 2%;
}

.settings a {
  text-decoration: none;
  padding: 0.3em;
}

#testing {
  text-align: center;
}

hgroup {
  text-align: center;
  padding: 5em;
  padding-top: 1em;
}

#pagelinks {
  text-align: center;
}

/* IMPORTANT: THIS IS FOR THE LANGUAGE SWITCHES */
.content-tab {
  display: none;
}

.content-tab.active {
  display: block;
}

/* STYLES OF DARK SIDE */

body {
  background: rgb(255, 247, 224);
  color: #2c2c2c;
}

body.dark-mode {
  background: #0e1202;
  color: rgb(255, 250, 244);
}

body.dark-mode a {
  color: #3ef2e0;
}

body.dark-mode header,
body.dark-mode footer {
  background-color: #042213;
}

header,footer{
  background-color: rgb(189, 226, 67);
}

.pagecontent {
  padding: 10%;
}

#logoTitle span:nth-child(1) {
  color: red;
}

#logoTitle span:nth-child(2) {
  color: rgb(255, 136, 0);
}

#logoTitle span:nth-child(3) {
  color: rgb(243, 190, 0);
}

#logoTitle span:nth-child(4) {
  color: rgb(31, 197, 31);
}

#logoTitle span:nth-child(5) {
  color: rgb(0, 81, 255);
}

#logoTitle span:nth-child(6) {
  color: rgb(253, 75, 253);
}

/* Adjust as needed */

footer {
  padding: 5%;
  font-size: 90%;
  text-align: center;
  width:90%;
  margin: 0 auto;
}